<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <application>
        <service
            android:name=".Urion.urionservice.BluetoothLeService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".BluetoothLeService"
            android:enabled="true"
            android:exported="false"/>
    <activity android:name=".MedtelScan"
        android:exported="true"></activity>

    <activity android:name=".Urion.BleFragmentActivity"
        android:exported="true"></activity>
        <activity android:name=".Urion.DeviceListActivity"
            android:exported="true"></activity>
        <activity android:name=".BMI.Config"
            android:exported="true"></activity>
        <activity android:name=".BMI.User"
            android:exported="true"></activity>
        <activity android:name=".BMI.UserConst"
            android:exported="true"></activity>
        <activity android:name=".BluetoothData"
            android:exported="true"></activity>
        <activity android:name=".Constants"
            android:exported="true"></activity>
        <activity android:name=".ReadDevices"
            android:exported="true"></activity>
        <activity android:name=".StringUtils"
            android:exported="true"></activity>
        <activity android:name=".FHR.bluetooth.BleBluetooth"
            android:exported="true"></activity>
        <activity android:name=".FHR.bluetooth.BleConnector"
            android:exported="true"></activity>
        <activity android:name=".FHR.bluetooth.MultipleBluetoothController"
            android:exported="true"></activity>
        <activity android:name=".FHR.bluetooth.SplitWriter"
            android:exported="true"></activity>
        <activity android:name=".HB.BluetoothUtils"
            android:exported="true"></activity>
        <activity android:name=".HB.GattClientCallback"
            android:exported="true"></activity>

    </application>

</manifest>